<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <title>Inserisci i dati</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>inserisci i dati</h1>

    <form action="/movimento" method="POST"> 
        <button type="submit" name="mov"value="avanti">avanti</button> 
        <button type="submit" name="mov" value="stop">stop</button> 
        <button type="submit" name="mov" value="indietro">indietro</button> 
        <button type="submit" name="mov" value="sinistra">sinistra</button> 
        <button type="submit" name="mov" value="destra">destra</button> 
    </form>
</body>

</html>